
<!-- Drag & Drop Columns -->
<div 
  cdkDropList 
  cdkDropListOrientation="horizontal" 
  class="example-list" 
  (cdkDropListDropped)="drop($event)" >
  
  <div     
    
    cdkDragLockAxis="x"
    cdkDrag
    *ngFor = "let col of cols" >
    
    <amp-col 
      [col]="col"
      [width]="width"
      cdkDragHandle
      (widthEvent)="receivesWidth($event)">
    </amp-col>        
    
  </div>
  
</div>


<button (click)="createCol()">+</button>

<!-- HTTP GET Request-->
<button (click)="getTasks()">Get Posts</button>

<div *ngFor="let task of tasks | async">
  {{ task | json}}
</div>

<!-- Show Store -->
<button (click)="showStore()">Show Store</button>