<div class="title">
  <!-- Title -->
  <h1>Tasks Table</h1>
</div>

  <!-- Search Input -->
  <form class="example-form">
  
  <mat-form-field 
    class="example-full-width">
    <mat-label>Search</mat-label>
    <input 
    type="text" 
    placeholder="Search this page" 
    aria-label="Number" 
    matInput 
    [formControl]="myControl"
    [matAutocomplete]="auto">
    
    <mat-autocomplete 
      autoActiveFirstOption 
      #auto="matAutocomplete"
      (optionSelected)="searchFilter($event.option)">

      <mat-option 
      *ngFor="let option of filteredOptions | async" 
      [value]="option"      
      >
      
        {{option}}
        
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>  
  <!-- <mat-icon>search</mat-icon> -->
  </form>

<!-- Drag & Drop Columns -->
<div 
  cdkDropList 
  cdkDropListOrientation="horizontal"   
  class="example-list" 
  (cdkDropListDropped)="drop($event)" >
  
  <div         
  cdkDragLockAxis="x"
  cdkDrag
  class="box"
  *ngFor = "let col of cols" >
  
  <mat-icon class="drag-handle" cdkDragHandle>
    drag_indicator
  </mat-icon>
  <amp-col                       
      [col]="col"
      [tasks]="tasks"
      (widthEvent)="receivesWidth($event)"
      (deleteEvent)="receivesDelete($event)">    
    </amp-col>        
  </div>
</div>

<!-- Add Column Button -->
<div class="button__add-col">
  <button mat-raised-button color="accent" [matMenuTriggerFor]="menu">

    <mat-icon>addchart</mat-icon>
  </button>
</div>

<mat-menu #menu="matMenu">
  <div *ngFor="let colName of colNamesArray">
    <button mat-menu-item (click)="createCol(colName)">{{ colName }}</button>
  </div>
</mat-menu>

<!-- HTTP GET Request-->
<button mat-raised-button color="primary"(click)="showGetRequest(true)">
  <mat-icon>source</mat-icon>
</button>

<div *ngIf="this.getRequestVisible">
  <h3>Http GET Request</h3>
  <div *ngFor="let task of tasks | async | keyvalue">
    <!-- <pre>{{task | json}}</pre> -->
    <pre>{{ task.key | json}} : {{ task.value | json}}</pre>
  </div>
</div>

