<p>
  <mat-toolbar color="primary">
    
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    
    <span>ampTable</span>
    
    <!-- <span class="example-spacer"></span> -->

    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button> -->
    
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
    &nbsp; &nbsp;
    &nbsp; &nbsp;
    <a routerLink=''>Home</a>
    &nbsp; &nbsp;
    <a routerLink='demo'>Demo</a>
    &nbsp; &nbsp;
    <a routerLink='pagination'>Pagination?</a>
    &nbsp; &nbsp;

  </mat-toolbar>
</p>
<ng-content></ng-content>