<!-- Box -->
<div 
  class="example-box"
  [ngStyle]="{
    'width': widthPx, 
  'resize': 'horizontal',
  'overflow': 'auto'}"
  (resized)="resizedWidth($event)"
  >

  <!-- Handle Indicator -->
  <!-- <mat-icon class="drag-handle" cdkDragHandle>
    drag_indicator
  </mat-icon> -->


  <!-- Delete Column Button -->
  <div class="delete-button">
    <mat-icon (click)="deleteCol({id: col.id})">
      close
    </mat-icon>
  </div>

  <!-- Change-Width Handle Indicator -->
  <!-- <div ampDragResizer  (resizeDiff)="setWidth($event)" class="width-handle--change">
    <mat-icon cdkDragDisabled>
      horizontal_distribute
    </mat-icon>
  </div> -->

  <!-- Column Name -->
  <div cdkDragHandleDisabled>
    <h2>{{ col.name }}</h2>
    <hr>
    <!-- <button ampDragResizer  (resizeDiff)="setWidth($event)"[ngStyle]="{'height': '20px', 'width': '200px'}"></button> -->
  
  <div>
    <!-- <button 
      (click)="changeWidth({id: col.id, width: 150})"
      cdkDragHandleDisabled>

      Change Width<br>
       — 150
    </button> -->
    
    <!-- <button 
      (click)="changeWidth({id: col.id, width: 200})"
      cdkDragHandleDisabled>

      Change Width<br>
      — 200
    </button>     -->
    
    <div *ngFor="let task of tasks | async">
      <div *ngIf="this.col.sc_name">        
        <div class="rows">
          <p>{{ task[this.col.sc_name] }}</p>
        </div>
      </div>      
    </div>

  </div>

  </div>
</div>