<!-- Box -->
<div 
  class="example-box"
  [ngStyle]="{'width': widthPx}">

  <!-- Handle Indicator -->
  <div class="drag-handle">
    <mat-icon cdkDragHandle>
      drag_indicator
    </mat-icon>    
  </div>

  <div class="delete-button">
    <mat-icon (click)="deleteCol({id: col.id})">
      close
    </mat-icon>
  </div>

  <!-- Column Name -->
  <div cdkDragHandleDisabled>
    {{ col.name }}
  </div>
  
  <div>
    <button 
      (click)="changeWidth({id: col.id, width: 150})"
      cdkDragHandleDisabled>

      Change Width<br>
       — 150
    </button>
    
    <button 
      (click)="changeWidth({id: col.id, width: 200})"
      cdkDragHandleDisabled>

      Change Width<br>
      — 200
    </button>    
  </div>
</div>


