<!-- Box -->
<div 
  class="example-box"
  [ngStyle]="{
  'width': widthPx, 
  'resize': 'horizontal',
  'overflow': 'auto'}"
  >
  <!-- (resized)="resizedWidth($event)"   -->

  <!-- Handle Indicator -->
  <!-- <mat-icon class="drag-handle" cdkDragHandle>
    drag_indicator
  </mat-icon> -->


  <!-- Delete Column Button -->
  <div class="delete-button">
    <mat-icon (click)="deleteCol({id: col.id})">
      close
    </mat-icon>
  </div>


  <!-- Change-Width Handle Indicator -->
  <!-- <div ampDragResizer  (resizeDiff)="setWidth($event)" class="width-handle--change">
    <mat-icon cdkDragDisabled>
      horizontal_distribute
    </mat-icon>
  </div> -->

  
  <!-- Change-Width Handle Indicator -->
  <div (click)="saveWidth($event)" class="width-handle--change">
    <mat-icon cdkDragDisabled>
      horizontal_distribute
    </mat-icon>
  </div>

  <!-- Column Name -->
  <div cdkDragHandleDisabled>
    <h4>{{ col.name }}</h4>
    <hr>
          
      <div *ngFor="let task of tasks | async">
        <div *ngIf="this.col.sc_name">        
          <div class="rows">
              <p>{{ task[this.col.sc_name] }}</p>              
          </div>
        </div>      
      </div>

  </div>
</div>