.page {
  &__container{
    padding: 40px;    
  }
  &__title{
    float: left;
  }
}
.time--log {
  float: right;
}

hr {
  // width: 95%;
}
h3 {
  margin-top: 20px;
  
}
p {
  padding-left: 20px;
  margin-bottom: 20px;
}

.challenges__container {
  float: left;
}